body {
	background-color:#000000;
	margin:50px ;
}

h1 {
	color:#ffffff ;
	font-family:Verdana ;
}

div.file_menu {
	width:400px ;
	height:50px ;
}

.file_menu_item_container {
	width:100px ;
	height:40px ;
	background-color:#444444 ;
	margin:2px ;
	float:left ;
}

.file_menu_item {
	font-size:small ;
	text-align:center ;
	vertical-align:middle ;
	color:#cccccc ;
	line-height:10px ;
	padding:15px 0 ;
	margin:0 ;
}
